.form-group 
  margin-bottom 20px

.form-control  
  height: 26px

.btn
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  border: 1px solid transparent


button
  cursor: pointer  

.btn-lg 
  padding: 0 15px
  font-size: 13px
  height: 30px
  line-height: 28px
  border-radius: 2px
  font-weight: bold

.light-blue 
  background: #14adea
  color: #fff
.mr-10 
  margin-right 10px    
textarea.form-control
  padding: 7px 10px
  min-height: 60px
